<body>
    

    <h2>Surnoi Career's</h2>
    <header>
<h1>Software Engineer</h1>



<div class="Sub-details"><span style="margin-left: 50px;">Hyderabad,Ind</span> <span style="margin-left: 50px;">Software Engineering</span> <span style="margin-left: 50px;">Proffesional</span>
</div>
<button class="button">Apply now</button> <span class="social-media-icons"><img src="C:\Users\sreen\Downloads\linkedin.png" alt="" style="width: 25px;position: absolute; 
            left: 350px; padding-right: 25px; "></span> <span class="social-media-icons"><img src="C:\Users\sreen\Downloads\twitter.png" alt=""style="width: 25px;position: absolute;
            left: 390px;"></span><span class="social-media-icons"><img src="C:\Users\sreen\Downloads\mail.png" alt=""style="width: 25px;position: absolute;
            left: 430px;"></span>
    </header>

    
<div class="container" >
    <div class="left">
<h3>Introduction</h3>
<p>At Surnoi, work is more than a job – it’s a calling: To build. To design. To code. To consult. To think along with clients and sell. To make markets. To invent. To collaborate. Not just to do something better, but to attempt things you’ve never thought possible. Are you ready to lead in this new era of technology and solve some of the world’s most challenging problems? If so, lets talk.</p>

<h3>Your Role and Responsibilities</h3>
<p>We are looking for a Java/J2EE & Hybrid Cloud developer to join a global team building one of surnoi’s leading Security solutions As a member of the team you will be working in a fast paced and rewarding environment.
    You will apply software engineering principles to operations in order to develop and support highly scalable, reliable and resilient systems. Your primary focus will be end to end development of high quality and high performance Hybrid Cloud. You will also collaborate with global development teams, support them with operational insights.
    You will have access to the latest education, tools and technology, and a limitless career path with the world’s technology leader. Come to surnoi and make an impact!
    </p>
    <h3>Required Technical and Professional Expertise</h3>
    <ul>
        <li>7+ years of IT experience.</li>
        <li>Proven experience in Java, SQL, JQuery, python, shell scripting, JSP, servlet, JPA</li>
        <li>Proven experience in REST API development</li>
        <li>Experience with object oriented programming/methodologies</li>
        <li>Experience with RHEL, linux</li>
        <li>Basic understanding of openssl and certificates</li>
        <li>Experience delivering solutions using an Agile / Scrum methodology</li>
        <li>Familiarity with cloud environments such as surnoi Cloud & Hybrid Cloud</li>
        <li>Ability to work with others locally, remotely, and geographically dispersed</li>
    </ul>
    <h3>Preferred Technical and Professional Expertise</h3>
<ul>
    <li>Experience with Tomcat, Jersey, Hibernate, JTA, Camel, and ActiveMQ.
    </li>
    <li>Experience in database schema design, performance, tuning, and scalability.
    </li>
    <li>Implementing distributed applications in container environment (Docker/Kubernetes).
    </li>
    <li>Experience with agile software development, continuous integration and continuous delivery, and multi-national teams.
    </li>
    
</ul>
</div>
<div  style="margin-left: 200px;"  class="vertical-line"></div>
<div class="right">
    <h3>Key Job Details</h3>

    <div class="Job-details"><span class="bold">Role:</span><span style="margin-top: 40px;">Software Architect</span></div>
    <div class="Job-details"> <span class="bold">Location:</span><span>Bangalore, IN</span></div>
    <div class="Job-details"> <span class="bold">Category:</span><span>Software Engineering</span></div>
    <div class="Job-details"><span class="bold">Employment Type:</span><span>Full-Time</span></div>
    <div class="Job-details"><span class="bold">Travel Required:</span><span>No Travel</span></div>
    <div class="Job-details"><span class="bold">Contract Type:</span><span>Regular</span></div>
    <div class="Job-details"><span class="bold">Req ID:</span><span>681502BR</span></div>

    <button class="button2">Apply now</button>

</div>

</div>
</body>
